body
{
    margin: auto;
    background-image: url("Back/back2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:0% 9.8%;
    font-family: roboto;
}
p
{
    font-size: 15px;
    color:#f44336;
}
form,table,tr,td
{
    margin: auto;
    text-align: center;
}
table
{
    position: absolute;
    top:10%;
    left:20%;
    height: 20em;
}
tr,td
{
    text-align: center;
    padding: 1em;
}
button
{   
    border-radius: 16px;
    font-size: 1em;
    width: 6em;
    height:2em;
    border:none;
    color:#000000;
    background-color: #F44336;
}
.inputText
{
    background-color: transparent;
    border:none;
    border-bottom:2px solid #F44336;
    color:#ffffff;
    text-align: center;
}
.inputText2
{
    background-color: transparent;
    border:none;
    border-bottom:2px solid #00BCD4;
    color:#ffffff;
    text-align: center;
}
.inputText3
{
    background-color: transparent;
    border:none;
    border-bottom:2px solid #FF9800;
    color:#ffffff;
    text-align: center;
}
div 
{
  position: relative; /*  make label relate to div  */
  padding-top: 10px;  /*  make space for label      */
}
.inputText 
{
  font-size: 12px;
  width: 250px;
  height: 27px;
}
.floating-label 
{
  position: absolute;
  pointer-events: none;
  left: 5.5em;
  top: 0.9em;
    color:#898989;
  transition: 0.2s ease all;
}
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label 
{
  top: -15px;
    color:#ffffff;
    font-weight: 600;
}
.blur 
{
  background: url('back2.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(10px);
  position: absolute;
  height: 800px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}
.widget 
{
  border-right: 2px solid rgba(255, 255, 255, .5);
  border-left: 2px solid rgba(255, 255, 255, .5);
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.center 
{
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}